{% extends 'layout.html' %}
{% block body %}
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<h1>Welcome back, {{session.get('name')}}</h1>
{% include 'includes/_messages.html' %}
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-chart-area"></i>
    Price of Ozzy <img src="static/images/ozzy.jpg" alt="Ozzy_image" width="25" height="25">
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <div class="card-body">
    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
    <script>
      var yAxis = {{ price[-10:] }}
      window.alert(yAxis);
      var myLineChart = new Chart("myChart", {
        type: "line",
        data: {
          labels: ["January", "February", "March", "April", "May", "June", "July"],
          datasets: [
            {
              label: "Price ($USD)",
              lineTension: 0.3,
              backgroundColor: "rgba(2,117,216,0.2)",
              borderColor: "rgba(2,117,216,1)",
              pointRadius: 5,
              pointBackgroundColor: "rgba(2,117,216,1)",
              pointBorderColor: "rgba(255,255,255,0.8)",
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(2,117,216,1)",
              pointHitRadius: 50,
              pointBorderWidth: 2,
              data: yAxis
            }
          ]
        },
        options: {
          scales: {
            xAxes: [
              {
                time: {
                  unit: "date"
                },
                gridLines: {
                  display: false
                },
                ticks: {
                  maxTicksLimit: 7
                }
              }
            ],
            yAxes: [
              {
                ticks: {
                  min: 0,
                  max: 10,
                  maxTicksLimit: 5
                },
                gridLines: {
                  color: "rgba(0, 0, 0, .125)"
                }
              }
            ]
          },
          legend: {
            display: false
          }
        }
      });
    </script>
  </div>
  <div class="card-footer small text-muted">Updated today at {{ timenow }}</div>
</div>

<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Blockchain</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>#</th>
            <th>Transaction</th>
            <th>Transaction's hash</th>
          </tr>
        </thead>
        <tfoot>
        </tfoot>
        <tbody>
          {% for block in blockchain %}
            <tr>
              <td>{{block.number}}</td>
              <td>{{block.data}}</td>
              <td>{{block.get_hash()}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated today at {{ timenow }}</div>
</div>
{% endblock %}
