<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User register</title>
    </head>
    <body>
        <form method="POST" action="">
            <input value={{ request.form.name }}><label>Full name</label>
            <input value={{ request.form.email }}><label>Email address Name</label>
            <input value={{ request.form.password }}><label>Password</label>
            <input value={{ request.form.confirm_password }}><label>Confirm password</label>
            <button type="submit">Register</button>
        </form>
    </body>
</html>

